# Pandas Series Data-Structure

pandas mainly has 2 types of data structure to handle the data. namely,
1. Series Object: 1-D labeled array.
2. Dataframe Object: 2-D labeled array.

In [1]:
#Series class cunstructor.
#Series(data,index,name,dtype,copy)

import pandas as pd
l=range(1,6)
s=pd.Series(l)
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [2]:
s=pd.Series(data=range(1,19,2),index=range(1,10))
print(s)
print("index labels",s.index)
print("dimension of the series",s.ndim)
print("shape of the series",s.shape)
print("size of the series",s.size)
print("series values:",s.values)

1     1
2     3
3     5
4     7
5     9
6    11
7    13
8    15
9    17
dtype: int64
index labels RangeIndex(start=1, stop=10, step=1)
dimension of the series 1
shape of the series (9,)
size of the series 9
series values: [ 1  3  5  7  9 11 13 15 17]

In [3]:
labels = ['a','b','c','d','e']
s1=pd.Series(range(1,6),labels)
print(s)

1     1
2     3
3     5
4     7
5     9
6    11
7    13
8    15
9    17
dtype: int64

Accessing the series elements.

In [4]:
print("Accessing using the integer locations.")
print(s[2])
print(s[[1,2,5,6]])
print(s[2:6])

print('-'*20)

print("Accesing the using the labels")
print(s[1])
print(s[2:8])

Accessing using the integer locations.
3
1     1
2     3
5     9
6    11
dtype: int64
3     5
4     7
5     9
6    11
dtype: int64
--------------------
Accesing the using the labels
1
3     5
4     7
5     9
6    11
7    13
8    15
dtype: int64

iloc attribute is used with the integer based access.

loc attribute is used to with the label based access.

when default index are used then iloc==loc

All types of access are allowed with the followed method. like location based, boolean masking, slicing , accessing the random items using the labels or integer indexes.

In [5]:
print(s.iloc[0])

print(s.loc[1])

1
1

get() method is used to get the value from the series because using the above methods will give the error when particular label used to access the data is absent.

slicing is not allowed in the get() method.

In [6]:
print(s.get(1))

print(s.get([1,5,2,8]))

#If the label used is absent then it will return the "None" instead of "error".

print(s.get(0)) #None

print(s.get(0),"Label not present")

1
1     1
5     9
2     3
8    15
dtype: int64
None
None Label not present

In [7]:
#Reading data from excel sheet into the Series object.

s=pd.read_csv("Customers.csv",usecols=['CustomerID','Age'],index_col='CustomerID',squeeze=True)
s.head()

C:\Users\HP\AppData\Local\Temp\ipykernel_5164\836589824.py:3: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  s=pd.read_csv("Customers.csv",usecols=['CustomerID','Age'],index_col='CustomerID',squeeze=True)

CustomerID
1    19
2    21
3    20
4    23
5    31
Name: Age, dtype: int64

In [8]:
s.tail()

CustomerID
196    35
197    45
198    32
199    32
200    30
Name: Age, dtype: int64

In [9]:
print(s.size)

200

In [10]:
#Boolean masking 
#we can use any relational operator to retrieve the data.
print(s[s>40])
print(s[s>40].size)

CustomerID
9      64
11     67
13     58
19     52
23     46
       ..
185    41
187    54
189    41
195    47
197    45
Name: Age, Length: 78, dtype: int64
78

In [11]:
#Selecting the customers with age between 30 and 40 using the callable external python function.

def selectbetween30and40(x):
    return [True if x1<40 else False for x1 in x]

s1 = s[selectbetween30and40]
print(s1)

CustomerID
1      19
2      21
3      20
4      23
5      31
       ..
194    38
196    35
198    32
199    32
200    30
Name: Age, Length: 116, dtype: int64

In [12]:
#Arithmetic Operations with the Series object.

print(s+10) #Similar way we can use any arithmetic operators to perform the operations like - , * , / , %

CustomerID
1      29
2      31
3      30
4      33
5      41
       ..
196    45
197    55
198    42
199    42
200    40
Name: Age, Length: 200, dtype: int64

In [13]:
#methods to perform the arithmetic operations.

s2=pd.Series([1,2,3,4,5,6,pd.NA])
print(s2)

0       1
1       2
2       3
3       4
4       5
5       6
6    <NA>
dtype: object

In [14]:
print(s2+10) #arithmetic oprerations with the NA will always give NA as result.

0      11
1      12
2      13
3      14
4      15
5      16
6    <NA>
dtype: object

In [15]:
print(s2.add(10,fill_value=0)) #fill_value is used to replace the NA.
#there are multiple operators are present to perform the operations.

0    11
1    12
2    13
3    14
4    15
5    16
6    10
dtype: int64

In [16]:
s3=pd.Series([5,6,7,8,9,1,2],index=[0,1,2,8,9,12,13])
print(s3)

0     5
1     6
2     7
8     8
9     9
12    1
13    2
dtype: int64

In [17]:
print(s2.add(s3)) #when index do not match with other series object then NaN will be result.

print(s2.add(s3,fill_value=0))

0      6.0
1      8.0
2     10.0
3      NaN
4      NaN
5      NaN
6     <NA>
8      NaN
9      NaN
12     NaN
13     NaN
dtype: object
0      6.0
1      8.0
2     10.0
3      4.0
4      5.0
5      6.0
6     <NA>
8      8.0
9      9.0
12     1.0
13     2.0
dtype: object

#Handling the missing values...

1.isnull()
2.notnull()
3.dropna()
4.fillna()

In [18]:
df=pd.read_csv('customers1.csv',usecols=['CustomerID','Age'],index_col='CustomerID',squeeze=True)
df.head()

C:\Users\HP\AppData\Local\Temp\ipykernel_5164\2010597685.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  df=pd.read_csv('customers1.csv',usecols=['CustomerID','Age'],index_col='CustomerID',squeeze=True)

CustomerID
1     NaN
2    21.0
3    20.0
4    23.0
5    31.0
Name: Age, dtype: float64

In [19]:
df.isnull() #it returns True where there is no data and returns False where there is data.

CustomerID
1       True
2      False
3      False
4      False
5      False
       ...
196    False
197    False
198    False
199    False
200    False
Name: Age, Length: 200, dtype: bool

In [20]:
df.notnull() #it is exactly opposite to the isnull() function.

CustomerID
1      False
2       True
3       True
4       True
5       True
       ...
196     True
197     True
198     True
199     True
200     True
Name: Age, Length: 200, dtype: bool

In [21]:
df1=df.dropna(inplace=False)
print(df1)
print(df1.isnull())

CustomerID
2      21.0
3      20.0
4      23.0
5      31.0
7      35.0
       ...
196    35.0
197    45.0
198    32.0
199    32.0
200    30.0
Name: Age, Length: 194, dtype: float64
CustomerID
2      False
3      False
4      False
5      False
7      False
       ...
196    False
197    False
198    False
199    False
200    False
Name: Age, Length: 194, dtype: bool

In [22]:
df.fillna(0,inplace=True)
print(df.isnull())
print(df[df.isnull()].size)

CustomerID
1      False
2      False
3      False
4      False
5      False
       ...
196    False
197    False
198    False
199    False
200    False
Name: Age, Length: 200, dtype: bool
0

In [23]:
#Descriptive statistics with the Pandas inbuilt function.

print("Mean",df.mean())
print("Median",df.median())
print("Mode",df.mode()[0])
print("variance",df.var())
print("Standard deviation",df.std())
print("Sum",df.sum())
print("min",df.min())
print("max",df.max())

Mean 37.98
Median 35.5
Mode 32.0
variance 234.17045226130654
Standard deviation 15.302628933007117
Sum 7596.0
min 0.0
max 70.0

In [24]:
print(df.describe())

count    200.000000
mean      37.980000
std       15.302629
min        0.000000
25%       28.000000
50%       35.500000
75%       49.000000
max       70.000000
Name: Age, dtype: float64

In [25]:
#Cummulative functions 

print(df.cumsum())
print("-"*20)
print(df.cumprod())
print("-"*20)
print(df.cummin())
print("-"*20)
print(df.cummax())

CustomerID
1         0.0
2        21.0
3        41.0
4        64.0
5        95.0
        ...
196    7457.0
197    7502.0
198    7534.0
199    7566.0
200    7596.0
Name: Age, Length: 200, dtype: float64
--------------------
CustomerID
1      0.0
2      0.0
3      0.0
4      0.0
5      0.0
      ...
196    0.0
197    0.0
198    0.0
199    0.0
200    0.0
Name: Age, Length: 200, dtype: float64
--------------------
CustomerID
1      0.0
2      0.0
3      0.0
4      0.0
5      0.0
      ...
196    0.0
197    0.0
198    0.0
199    0.0
200    0.0
Name: Age, Length: 200, dtype: float64
--------------------
CustomerID
1       0.0
2      21.0
3      21.0
4      23.0
5      31.0
       ...
196    70.0
197    70.0
198    70.0
199    70.0
200    70.0
Name: Age, Length: 200, dtype: float64

In [26]:
#diff() function is used to find the difference between the successice values of the Series object.

print(df.head().diff(3)) #3 is periods parameter that specifies the range to consider in order to take the difference.

CustomerID
1     NaN
2     NaN
3     NaN
4    23.0
5    10.0
Name: Age, dtype: float64

In [27]:
#sorting the series values...
#sort_values() method...

df.sort_values(inplace=True,ascending=False,kind='mergesort')
print(df)

CustomerID
61    70.0
71    70.0
58    69.0
68    68.0
91    68.0
      ...
6      0.0
15     0.0
18     0.0
24     0.0
27     0.0
Name: Age, Length: 200, dtype: float64

In [28]:
df.sort_index(inplace=True,ascending=True)
print(df)

CustomerID
1       0.0
2      21.0
3      20.0
4      23.0
5      31.0
       ...
196    35.0
197    45.0
198    32.0
199    32.0
200    30.0
Name: Age, Length: 200, dtype: float64

In [29]:
#Replacing the values based on the condition.....
#where() and mask() methods.
#where() replaces where there is false.
#mask() replaces where there is true.

df.where(df>30,40,inplace=True)
df.mask(df>30,50,inplace=True)
print(df)

CustomerID
1      50.0
2      50.0
3      50.0
4      50.0
5      50.0
       ...
196    50.0
197    50.0
198    50.0
199    50.0
200    50.0
Name: Age, Length: 200, dtype: float64

In [30]:
print(df.nunique())

1

1.Partial update.
2.Global update.

Applying the function to each element of the series values using the map() and apply().
apply() is better compared to map() as it allows the arguments and keyword arguments to pass to callable function.

In [32]:
def applymeth(x,a,b):
    return x+a+b


df.apply(applymeth,args=(2,8))

CustomerID
1      60.0
2      60.0
3      60.0
4      60.0
5      60.0
       ...
196    60.0
197    60.0
198    60.0
199    60.0
200    60.0
Name: Age, Length: 200, dtype: float64

In [34]:
def mapfunc(x):
    return x+5;

df.map(mapfunc)

CustomerID
1      55.0
2      55.0
3      55.0
4      55.0
5      55.0
       ...
196    55.0
197    55.0
198    55.0
199    55.0
200    55.0
Name: Age, Length: 200, dtype: float64

In [44]:
import numpy as np
df1=pd.Series(np.arange(2,20,1))
df1.nsmallest(n=4)

0    2
1    3
2    4
3    5
dtype: int32

In [45]:
print(df1.nlargest(5))

17    19
16    18
15    17
14    16
13    15
dtype: int32